<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white shadow-lg rounded-lg p-8 max-w-md w-full">
    <p class="text-2xl font-bold text-center text-blue-600 mb-4">Modular Booking System</p>

    <h2 class="text-3xl font-semibold text-center text-gray-800 mb-6">Sign Up</h2>
    <form (ngSubmit)="onSubmit()" [formGroup]="registerForm!">
      <div class="mb-4">
        <label for="username" class="block text-gray-700 font-semibold mb-2">Username</label>
        <input
          type="text"
          id="username"
          formControlName="username"
          required
          class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:bg-gray-100 focus:border-blue-500 transition duration-300"
          placeholder="Enter your username"
        />
      </div>

      <div class="mb-4">
        <label for="email" class="block text-gray-700 font-semibold mb-2">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          required
          class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:bg-gray-100 focus:border-blue-500 transition duration-300"
          placeholder="Enter your email address"
        />
      </div>

      <div class="mb-6">
        <label for="password" class="block text-gray-700 font-semibold mb-2">Password</label>
        <div class="relative">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            formControlName="password"
            required
            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:bg-gray-100 focus:border-blue-500 transition duration-300"
            placeholder="Enter your password (min 6 character)"
          />
          <button
            type="button"
            (click)="togglePasswordVisibility()"
            class="absolute right-2 top-2 text-gray-500 hover:text-blue-500"
          >
            {{ showPassword ? "Hide" : "Show" }}
          </button>
        </div>
      </div>

      <button
        type="submit"
        [disabled]="!registerForm?.valid || loading"
        class="w-full bg-blue-600 text-white font-semibold py-2 rounded-lg hover:bg-blue-700 transition duration-300  disabled:bg-blue-400 disabled:cursor-not-allowed"
       >
       @if(loading){
        <div class="flex justify-center align-middle">
          <div class="loader-white loader"></div>
        </div>
        } @else { Sign up }
      </button>

      <button
        class="w-full text-center text-blue-600 font-semibold mt-4 hover:text-blue-800 transition duration-300"
        type="button"
        (click)="routeToLogin()"
      >
        Already a User? <span class="underline">Log in</span>
      </button>
    </form>

  </div>
</div>
