<div class="min-h-screen flex items-center justify-center bg-gray-100">
  <div class="bg-white shadow-lg rounded-lg p-8 max-w-md w-full">
    <p class="text-2xl font-bold text-center text-blue-600 mb-4">
      Modular Booking System
    </p>

    <h2 class="text-3xl font-semibold text-center text-gray-800 mb-6">
      Log In
    </h2>

    <form [formGroup]="loginForm!" (ngSubmit)="onSubmit()">
      <div class="mb-4">
        <label for="username" class="block text-gray-700 font-semibold mb-2">
          Username
        </label>
        <input
          type="text"
          id="username"
          formControlName="username"
          class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:bg-gray-100 focus:border-blue-500 transition duration-300"
          placeholder="Enter your username"
        />
        @if(!loginForm!.controls['username'].valid &&
        (loginForm!.controls['username'].dirty
        ||loginForm!.controls['username'].touched)){
        <p class="text-red-600 text-sm mt-1">Please enter valid username</p>
        }
      </div>

      <div class="mb-6">
        <label for="password" class="block text-gray-700 font-semibold mb-2">
          Password
        </label>
        <div class="relative">
          <input
            [type]="showPassword ? 'text' : 'password'"
            id="password"
            formControlName="password"
            class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:bg-gray-100 focus:border-blue-500 transition duration-300"
            placeholder="Enter your password"
          />
          <button
            type="button"
            (click)="togglePasswordVisibility()"
            class="absolute right-2 top-2 text-gray-500 hover:text-blue-500"
          >
            {{ showPassword ? "Hide" : "Show" }}
          </button>
        </div>
        @if(!loginForm!.controls['password'].valid &&
        (loginForm!.controls['password'].dirty
        ||loginForm!.controls['password'].touched)){
        <p class="text-red-600 text-sm mt-1">Please enter valid password</p>
        }
      </div>

      <button
        type="submit"
        [disabled]="!loginForm?.valid || loading"
        class="w-full bg-blue-600 text-white font-semibold py-2 rounded-lg hover:bg-blue-700 transition duration-300 disabled:bg-blue-400 disabled:cursor-not-allowed"
      >
        @if(loading){
        <div class="flex justify-center align-middle">
          <div class="loader-white loader"></div>
        </div>
        } @else { Log in }
      </button>

      <button
        class="w-full text-center text-blue-600 font-semibold mt-4 hover:text-blue-800 transition duration-300"
        type="button"
        (click)="routeToSignUp()"
      >
        New here? <span class="underline">Sign up</span>
      </button>
    </form>
  </div>
</div>
