<div class="relative p-6 bg-white rounded-lg shadow-lg">
  @if(loading) {
  <div
    class="absolute inset-0 flex items-center justify-center bg-white bg-opacity-75 z-10"
  >
    <div class="loader"></div>
  </div>
  }

  <h2 class="text-xl font-bold mb-6 text-gray-800">Create New Database</h2>

  <form (ngSubmit)="onSubmit()" [formGroup]="dbCreationForm!">


    <div class="mb-5">
      <label for="databaseName" class="block text-gray-700 font-semibold mb-2">
        Database Name
      </label>
      <input
        type="text"
        id="databaseName"
        formControlName="databaseName"
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:bg-gray-100 focus:border-blue-500 transition duration-300"
        placeholder="Enter database name"
      />
      @if(!dbCreationForm!.controls['databaseName'].valid &&
      (dbCreationForm!.controls['databaseName'].dirty
      ||dbCreationForm!.controls['databaseName'].touched)) {
      @if(dbCreationForm!.controls['databaseName'].errors!['required']){
      <div class="text-red-500 mt-2 text-sm">Database name is required.</div>
      } @else if(dbCreationForm!.controls['databaseName'].errors!['invalidLength']){
      <div class="text-red-500 mt-2 text-sm">
        Database name must be between 1 and 63 characters long.
      </div>
      } @else if(dbCreationForm!.controls['databaseName'].errors!['invalidCharacters']){
      <div class="text-red-500 mt-2 text-sm">
        Database name cannot have spaces or any special characters (excpet _).
      </div>
      } @else if(dbCreationForm!.controls['databaseName'].errors!['reservedName']){
      <div class="text-red-500 mt-2 text-sm">
        The database name cannot be 'admin', 'local', or 'config'.
      </div>
      } }
    </div>
    <div class="mb-5">
      <label
        for="bookerEntityName"
        class="block text-gray-700 font-semibold mb-2"
      >
        Level 1 Entity
      </label>
      <input
        type="text"
        id="level1Entity"
        formControlName="level1Entity"
        class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:bg-gray-100 focus:border-blue-500 transition duration-300"
        placeholder=" Enter level 1 Entity (for eg Theatre, Parking)."
      />
      @if(!dbCreationForm!.controls["level1Entity"].valid &&
      (dbCreationForm!.controls["level1Entity"].dirty
      ||dbCreationForm!.controls["level1Entity"].touched)) {
      <div class="text-red-500 mt-2 text-sm">
        Level 1 entity is required.
      </div>
      }
    </div>

    @for(control of getControlNames(); track control){
      <div class="mb-5">
        <label
          for="bookerEntityName"
          class="block text-gray-700 font-semibold mb-2"
        >
          {{getLabelName(control)}}
        </label>
        <input
          type="text"
          [id]="control"
          [formControlName]="control"
          class="w-full px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:bg-gray-100 focus:border-blue-500 transition duration-300"
          [placeholder]='getPlaceholder(control)'
        />
        @if(!dbCreationForm!.controls[control].valid &&
        (dbCreationForm!.controls[control].dirty
        ||dbCreationForm!.controls[control].touched)) {
        <div class="text-red-500 mt-2 text-sm">
          {{getLabelName(control)}} is required.
        </div>
        }
      </div>
    }

    <div class="mb-5">
      @if (index > 3) {
        <div class="text-red-500 mt-2 text-sm">
          Cannot add more level
        </div>
      }
      @else{
        <button type="button" (click)="addLevel()" class="w-full bg-blue-600 text-white font-semibold py-2 rounded-lg hover:bg-blue-700 transition duration-300">
          Add More Level
        </button>
      }
    </div>

    <div class="flex justify-end">
      <button
        type="submit"
        [disabled]="!dbCreationForm?.valid || loading"
        class="w-full bg-blue-600 text-white font-semibold py-2 rounded-lg hover:bg-blue-700 transition duration-300 disabled:bg-blue-400 disabled:cursor-not-allowed"
      >
        Create Database
      </button>
    </div>
  </form>
</div>
